<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <title>OffLoad</title>
    <link rel="stylesheet" href="./style.css" />
    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="./vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <link href="https://fonts.googleapis.com/css?family=Arimo|Encode+Sans+Condensed" rel="stylesheet"> 
  </head>

  <body>
    <div id="app">
      <div id="config">
        <input v-model="downloadId" placeholder="Download URL" />
        <input v-model="destinationPath" placeholder="/Some/Place/On/Your/Computer" />
        <div id="tweak-panel">
          <div class="group">
            <input type="range" v-model="concurrent" min=1 max=16 />
            <span>{{concurrent}} Concurrent Downloads</span>
          </div>
          <checkbox v-model="audioOnly" on='👍 Audio Only' off='👎 Audio Only' />
        </div>
        <button v-on:click="download">add job</button>
      </div>
      
      <h3 class='section-header'>Downloading {{downloading.length}} / {{concurrent}}</h3>
      <div id="downloads">
        <download :download="download" v-for="download in downloading" :key="download.handle">
	  <progress :value="parseFloat(download.description.percentComplete) || 0" max=100 min=0></progress>
	</download>
      </div>

      <h3 class='section-header'>Queued {{queued.length}}</h3>
      <div id="queued">
        <download :download="download" v-for="download in queued" :key="download.handle">
	</download>
      </div>

      <h3 class='section-header'>Done {{done.length}} <button v-on:click="clear">clear</button></h3>
      <div id="done">
        <download :download="download" v-for="download in done" :key="download.handle">
	</download>
      </div>

    </div>

    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>
  </body>

</html>
