/* blue #3daee9 */

:root {
    --red: #FF0000;
    --white: #F8F8F8;
    --black: #282828;
    --blue: #2793E6;
    --grey: #A0A0A0;
    --light-grey: #cccccc;
    --dark-grey: #eeeeee;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.g { display: grid; }
.g.c3 { grid-template-columns: 1fr 1fr 1fr; }
.g.r1 { grid-template-rows: 1fr; }

.cell {
    overflow-y: auto;
}

#config {
    box-shadow: 0 0 16px #e6e6e6;
    margin-bottom: 10px;
    padding: 0 16px;
}

.config {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    overflow-y: auto;
}

.downloads {
    overflow-y: auto;
}

.downloads.queued {
    grid-column: 1 / 2;
}

.downloads.downloading {
    grid-column: 2 / 3;
}

.downloads.done {
    grid-column: 3 / 4;
}

body {
    padding: 0;
    margin: 0;
    /* background: #eff0f1; */
    color: #475057;
    font-family: 'Hack';
    font-size: 12px;
}

input, body, select {
    font-size: 12px;
    font-family: 'Hack';
}

.scroll {
    overflow-y: auto;
}


table {
    border-collapse: collapse;
}

table > thead > tr {
    background-color: #c8e7f7;
}

table tr {
    transition: height .2s;
}

table td {
    margin: 0;
    padding: 0;
}

#downloads {
    grid-row: 2 / 4;
    grid-column: 1 / 4;
    width: 100%;
}

.download {
    padding: 8px;
    margin: 8px;
    box-shadow: 0 0 1px #333;
}

.download h5 {
    text-align: left;
}

.download > p {
    display: flex;
}

.download > p span {
    text-align: left;
    vertical-align: bottom;
    flex: 1;
}


.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.edl.container {
    background-color: var(--white);
    border: 1px solid var(--light-grey);
    display: inline-block;
    padding: 2px 6px;
}

input:focus, select:focus, button:focus {
    outline: none;
}

button.edl {
    padding: 0 8px;
    background: var(--white);
    border: 1px solid var(--light-grey);
}

.edl.container::focus {
    box-shadow: inset 0 0 .3em var(--grey);
}

.edl.container .box {
    padding: 0;
    margin: 0;
}

.edl.toggle {
    border-radius: 1px;
    padding: 0 8px;
}

.edl.toggle.on {
    background-color: var(--red);
    color: var(--white);
}

.edl.toggle.off {
    background-color: var(--dark-grey);
    color: var(--black);
}

.edl input, .edl button {
    margin-left: 4px;
    padding: 1px;
    font-size: 16px;
}

.edl.container input {
    margin-left: 4px;
    padding: 1px;
    font-size: 16px;
}

.edl.container input::placeholder {
    color: var(--grey);
}

.edl input {
    background-color: var(--white);
    border: none;
    border-radius: 2px;
}

.form-label {
    grid-column: 1 / 2;
    margin: 2px;
    margin-top: 5px;
}

.form-control {
    grid-column: 2 / 4;
    background-color: var(--white);
    color: var(--black);
    padding: 10px 16px;
    font-size: 16px;
    border: none;
}

.form-control[disabled] {
    background: #96a2a9;
}

