/* blue #3daee9 */
html {
 
}

* {
    /* font-family: 'Encode Sans Condensed', sans-serif; */
    font-family: 'Arimo', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

:root {
    --th: 100px;
    --tw: 177px;
    --red: #FF0000;
    --white: #F8F8F8;
    --black: #282828;
    --blue: #2793E6;
    --grey: #A0A0A0;
    --light-grey: #cccccc;
    --dark-grey: #eeeeee;
    --unit: .5em;
}

input, button, select {
    outline: none;
}

#config {
    display: flex;
    flex-direction: column;
    padding: var(--unit) var(--unit) 0 var(--unit) ;
    margin-bottom: var(--unit);
    box-shadow: 0 0 1em var(--grey);
}


#config > input, #config > button {
    display: block;
    flex: 1;

    border-radius: 2px;
    background-color: var(--white);
    box-shadow: inset 0 0 .2em var(--grey);
    padding: var(--unit);
    margin: 0;
    margin-bottom: var(--unit);
    border: 0;
}

#config > button:hover {
    background-color: var(--grey);
}

#config > button:active {
    background-color: var(--red);
}

#tweak-panel {
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: var(--unit);
}

#tweak-panel > button, #tweak-panel > input[type=range] {
    padding: var(--unit);
    border: 0;
    display: block;
    flex: 1;
}

#tweak-panel > .group {
    margin-left: 0;
    margin-right: 0;
}

.group {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.group > input, .group > span {
    padding: var(--unit);
}

.section-header {
    margin-left: var(--unit);
}

#downloads, #queued, #done {
    display: flex;
    overflow-x: auto;
}

.download {
    margin: var(--unit);
    max-width: 177px;
    margin: var(--unit);
    box-shadow: 0 0 var(--unit) var(--grey);
    border-radius: var(--unit);
    position: relative;


    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
	opacity: 0;
    }
    100% {
	opacity: 1;
    }
}

.download progress {
    display: block;
    width: 100%;
    margin: 0;
}

.download > .thumbnail {
    position: relative;
}


.thumbnail > .overlay {
    position: absolute;
    bottom: var(--unit);
    right: var(--unit);
}

.overlay span {
    background-color: rgba(0,0,0, 0.4);
    color: var(--white);
    padding: 2px 4px;
    border-radius: var(--unit);
}

.thumbnail > img {
    display: block;
    margin: 0;
    max-width: 177px;
    border-top-right-radius: var(--unit);
    border-top-left-radius: var(--unit);
}

.download .title {
    text-align: center;
    white-space: nowrap;
    overflow-x: hidden;
    animation: scroll-left 15s linear infinite;
}

.download p {
    font-size: 12px;
    padding: var(--unit);
    margin: 0;
}

p.error {
    background-color: var(--red);
    color: var(--white);
    font-weight: bold;
    white-space: nowrap;
    overflow-x: hidden;
}

.cap {
  border-top-right-radius: var(--unit);
  border-top-left-radius: var(--unit);
}

.bottom {
  border-bottom-right-radius: var(--unit);
  border-bottom-left-radius: var(--unit);
}

input[type=range] {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: var(--white); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
input[type=range]:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* slider */
input[type=range]::-webkit-slider-thumb {
    /* -webkit-appearance: none; /1* Override default look *1/ */
    /* appearance: none; */
    background: var(--red); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

